/* common styles  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  padding-inline: 230px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin-inline: auto;
  margin-bottom: 48px;
}
.btn-primary {
  color: #fff;
  border-radius: 8px;
  background: #e55473;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border: none;
  cursor: pointer;
}
section {
  margin-block: 128px;
}

/* header styles  start */
header {
  background: rgba(229, 84, 115, 0.1);
  padding-top: 50px;
  margin-bottom: 178px;
}
.header-content {
  background: url(./flower-asset/pngwing\ 10.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.header-title {
  color: #272727;
  font-size: 67px;
  font-weight: 800;
  max-width: 700px;
  margin-top: 50px;
}
header .section-description {
  text-align: left;
  max-width: 550px;
  font-size: 16px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 24px;
}
.header-content .btn-primary {
  margin-bottom: 80px;
}
/* header styles  end */
/* featured  section start  */
.featured-section-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.featured-section-img1,
.featured-section-img2,
.featured-section-img3 {
  width: 400px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
}
.featured-section-img1 img,
.featured-section-img2 img,
.featured-section-img3 img {
  border-radius: 300px 300px 0px 0px;
  height: 100%;
}
.featured-section-img1 img {
  background: rgba(167, 33, 98, 0.15);
  padding-inline: 76px;
  padding-top: 110px;
}

.featured-section-img2 img {
  background: rgba(5, 151, 160, 0.15);
  padding-inline: 47px;
  padding-top: 170px;
  padding-bottom: 51px;
}
.featured-section-img3 img {
  background: rgba(71, 125, 17, 0.15);
  padding-inline: 75px;
  padding-top: 67px;
}
.featured-section-img-title {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 15px;
}
/* featured  section end  */

/* delivery section start */
.delivery-section {
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.delivery-section div {
  text-align: center;
  padding-block: 86px;
}
.delivery-section div img {
  width: 88px;
  height: 88px;
}
.delivery-section p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
}
/* delivery section end */

/* discount section start  */
.discount-section-container {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.discount-section-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.discount-section-content div {
  padding-block: 50px;
  text-align: center;
}
.discount-section-content .section-title span {
  color: #e55473;
}
.discount-section-content .section-description {
  margin-top: 24px;
  margin-bottom: 30px;
}

/* discount section end  */

/* instagram section styles start  */
.instagram-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
/* instagram section styles end  */

/* subscription section styles start  */
.subscription-section-content-container {
  background: url("./flower-asset/Rectangle\ 9.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 449px;
}
.subscription-section-content {
  padding-top: 86px;
}
.subscription-section-content .section-description {
  margin-bottom: 20px;
}
.subscription-section-content div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 600px;
  margin-inline: auto;
}
.subscription-section-content input[type="email"] {
  display: block;
  border-radius: 8px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0 20px;
  width: 100%;
  height: 64px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
}

.subscription-section-content input[type="submit"] {
  display: block;
  border-radius: 8px;
  background: #e55473;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 31px;
  height: 64px;
}

/* subscription section styles end  */

/* footer styles start  */
footer {
  margin-top: -117px;
  background: #111010;
  padding-block: 128px;
}
.footer-content {
  text-align: center;
}
.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
.footer-title span {
  color: #e55473;
}
.footer-content .section-description {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 24px;
  margin-bottom: 32px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
/* footer styles end  */
