/* common styles  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  padding-inline: 230px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin-inline: auto;
  margin-bottom: 48px;
}
.btn-primary {
  color: #fff;
  border-radius: 8px;
  background: #e55473;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border: none;
  cursor: pointer;
}
section {
  margin-block: 128px;
}

/* header styles  start */
header {
  background: rgba(229, 84, 115, 0.1);
  padding-top: 50px;
  margin-bottom: 178px;
}
.header-content {
  background: url(./flower-asset/pngwing\ 10.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.header-title {
  color: #272727;
  font-size: 67px;
  font-weight: 800;
  max-width: 700px;
  margin-top: 50px;
}
header .section-description {
  text-align: left;
  max-width: 550px;
  font-size: 16px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 24px;
}
.header-content .btn-primary {
  margin-bottom: 80px;
}
/* header styles  end */
/* featured  section start  */
.featured-section-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.featured-section-img1,
.featured-section-img2,
.featured-section-img3 {
  width: 400px;
  height: 450px;
  border-radius: 300px 300px 0px 0px;
}
.featured-section-img1 img,
.featured-section-img2 img,
.featured-section-img3 img {
  border-radius: 300px 300px 0px 0px;
  height: 100%;
}
.featured-section-img1 img {
  background: rgba(167, 33, 98, 0.15);
  padding-inline: 76px;
  padding-top: 110px;
}

.featured-section-img2 img {
  background: rgba(5, 151, 160, 0.15);
  padding-inline: 47px;
  padding-top: 170px;
  padding-bottom: 51px;
}
.featured-section-img3 img {
  background: rgba(71, 125, 17, 0.15);
  padding-inline: 75px;
  padding-top: 67px;
}
.featured-section-img-title {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 15px;
}
/* featured  section end  */
